{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<h2>My Walls</h2>

<form method="POST" class="mb-4">
    {% csrf_token %}
    {{ form|crispy }}

    <button class="btn btn-primary"
            type="submit">
        Create Wall
    </button>
</form>

<h3>My Walls 🌿</h3>

{% for wall in owned_walls %}

<div class="card mb-3 p-3">

    <h4>
        <a href="{% url 'wall-detail' wall.id %}">
            {{ wall.title }}
        </a>
    </h4>

    <small>
        Created:
        {{ wall.created_at }}
    </small>

</div>

{% empty %}

<p>No personal walls yet.</p>

{% endfor %}


<hr class="my-4">


<h3>Shared With Me 🤝</h3>

{% for wall in shared_walls %}

<div class="card mb-3 p-3">

    <h4>
        <a href="{% url 'wall-detail' wall.id %}">
            {{ wall.title }}
        </a>
    </h4>

    <small>
        Shared workspace
    </small>

</div>

{% empty %}

<p>No shared walls yet.</p>

{% endfor %}
{% endblock %}