{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}

<h2>{{ wall.title }}</h2>

<hr>

<form method="POST">
    {% csrf_token %}

    {{ form|crispy }}

    <button class="btn btn-primary" type="submit">
        Add note
    </button>
</form>
<hr>

<div class="border rounded p-4"
     style="height:700px; position:relative;">

    {% for note in notes %}
    <div 
        class="card p-2"
        data-note-id="{{ note.id }}"

        style="
        width:200px;
        position: absolute;

        left:{{ note.x_position }}px;
        top:{{ note.y_position }}px;
        background-color: {{ note.color }};">
    
        <strong>
            {{ note.title }}
        </strong>

        <p>
            {{ note.content}}
        </p>

    </div>
    {% empty %}
        no notes yet.
    {% endfor %}

</div>

<a href="{% url 'home' %}">
    Back
</a>
<script>

interact('.note')
.draggable({

    listeners: {

        move(event) {

            const target = event.target;

            let x =
                parseFloat(
                    target.getAttribute(
                        'data-x'
                    )
                ) || 0;

            let y =
                parseFloat(
                    target.getAttribute(
                        'data-y'
                    )
                ) || 0;

            x += event.dx;
            y += event.dy;

            target.style.transform =
                `translate(${x}px, ${y}px)`;

            target.setAttribute(
                'data-x',
                x
            );

            target.setAttribute(
                'data-y',
                y
            );
        },

        end(event) {

            const target =
                event.target;

            const noteId =
                target.dataset.noteId;

            const x =
                parseFloat(
                    target.getAttribute(
                        'data-x'
                    )
                ) || 0;

            const y =
                parseFloat(
                    target.getAttribute(
                        'data-y'
                    )
                ) || 0;

            fetch(
                '/notes/update-position/',
                {
                    method: 'POST',

                    headers: {
                        'Content-Type':
                            'application/json',

                        'X-CSRFToken':
                            '{{ csrf_token }}'
                    },

                    body: JSON.stringify({
                        note_id: noteId,
                        x: x,
                        y: y
                    })
                }
            );
        }
    }
});

</script>
{% endblock %}